Flujos_NodeRed.json
[
    {
        "id": "071a10a9257c87ba",
        "type": "tab",
        "label": "TFG_2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7d538720d2d1c832",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "show inline keyboard",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "06cbad6937a0bbf2"
            ]
        ]
    },
    {
        "id": "6818043133e92265",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "initial inline keyboard message",
        "func": "context.global.keyboard = { messageId : msg.payload.messageId };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Información General\",\n                    \"callback_data\": \"General\"            \n                }, \n                {\n                    \"text\": \"Temperatura y Humedad\",\n                    \"callback_data\": \"Temperatura_y_Humedad\"            \n                }],\n                [{\n                    \"text\": \"Alimentaciones\",\n                    \"callback_data\": \"Alimentaciones\"            \n                },\n                {\n                    \"text\": \"Puerta de la Cabina\",\n                    \"callback_data\": \"Puerta_Cabina\"            \n                }],\n                [{\n                    \"text\": \"Información sobre el Ventilador\",\n                    \"callback_data\": \"Info_Ventilador\"            \n                }],\n                [{\n                    \"text\": \"RESET de la RaspBerry\",\n                    \"callback_data\": \"RESET\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content=\"¡Hola! Soy el Bot del HortSostII desarrollado e implementado por Miguel Ángel Bravo, ¿en qué puedo ayudarte?\\nPulsa sobre el enlace del que quieras obtener información:\"\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "7d538720d2d1c832"
            ]
        ]
    },
    {
        "id": "06cbad6937a0bbf2",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "save messageId",
        "func": "// We store the messageId to be able to edit this reply in the callback query. \ncontext.global.keyboard.messageId = msg.payload.sentMessageId;\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a890fcc84d4bbd4b",
        "type": "telegram event",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "event": "callback_query",
        "autoanswer": true,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "518433461f7baa35"
            ]
        ]
    },
    {
        "id": "72e0be0196689614",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 890,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "518433461f7baa35",
        "type": "switch",
        "z": "071a10a9257c87ba",
        "name": "check callback data",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "General",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Temperatura_y_Humedad",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alimentaciones",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Puerta_Cabina",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Info_Ventilador",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RESET",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 427.2405776977539,
        "y": 446.6966896057129,
        "wires": [
            [
                "1560b5896ac71903"
            ],
            [
                "32f60be44cee53d8"
            ],
            [
                "3c5b3a312626ef52"
            ],
            [
                "aab4e373c75dec8a"
            ],
            [
                "a3586c5e64605e43"
            ],
            [
                "b3ee933bbe9f2af9"
            ]
        ]
    },
    {
        "id": "239d26f338539b9a",
        "type": "telegram receiver",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "6818043133e92265",
                "1b70c6167f93ae00"
            ],
            []
        ]
    },
    {
        "id": "1560b5896ac71903",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content=\"La temperatura exterior es de \"+flow.get(\"temp_exterior\")+\"ºC\\nLas fuentes de alimentación aportan el \"+flow.get(\"12voltios%\")+\"% (respecto a 12V) y el \"+flow.get(\"24voltios%\") +\"% (respecto a 24V) sobre su capacidad total.\\nLa puerta de la Cabina Eléctrica está \"+flow.get(\"puerta\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 340,
        "wires": [
            [
                "72e0be0196689614"
            ]
        ]
    },
    {
        "id": "1b70c6167f93ae00",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "telegram",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "32f60be44cee53d8",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content=\"La temperatura exterior es de \"+flow.get(\"temp_exterior\")+\"ºC y la temperatura interior es de \"+flow.get(\"temp_interior\")+\"ºC\\n\";\nmsg.payload.content+=\"El Diferencial Térmico es de \"+flow.get(\"dif_temps\")+\"ºC\\n\";\nmsg.payload.content+=\"La humedad relativa es del \"+flow.get(\"humedad\")+\"%\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 380,
        "wires": [
            [
                "72e0be0196689614"
            ]
        ]
    },
    {
        "id": "3c5b3a312626ef52",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content=\"La alimetación de 12V aporta al sistema \"+flow.get(\"12voltios\")+\"v (\"+flow.get(\"12voltios%\")+\"% del total)\\nLa alimetación de 24V aporta al sistema \"+flow.get(\"24voltios\")+\"v (\"+flow.get(\"24voltios%\")+\"% del total)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "72e0be0196689614"
            ]
        ]
    },
    {
        "id": "aab4e373c75dec8a",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content=\"La puerta de la Cabina Eléctrica está \"+flow.get(\"puerta\")+\" en este momento\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 460,
        "wires": [
            [
                "72e0be0196689614"
            ]
        ]
    },
    {
        "id": "b3ee933bbe9f2af9",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "initial inline keyboard message",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content={};\ncontext.global.keyboard = { messageId : msg.payload.messageId };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Sí, estoy seguro\",\n                    \"callback_data\": \"SI\"            \n                }, \n                {\n                    \"text\": \"No, mejor olvidalo\",\n                    \"callback_data\": \"ATRAS\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content=\"¿Estás seguro de que quieres reiniciar la RaspBerry?\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 580,
        "wires": [
            [
                "1bc0e8263274544e"
            ]
        ]
    },
    {
        "id": "b5089e9f2717cc50",
        "type": "telegram event",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "event": "callback_query",
        "autoanswer": true,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "94eb71f2efad02fa"
            ]
        ]
    },
    {
        "id": "94eb71f2efad02fa",
        "type": "switch",
        "z": "071a10a9257c87ba",
        "name": "check callback data",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "SI",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ATRAS",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SI_VENTILADOR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ATRAS_VENTILADOR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 370,
        "y": 680,
        "wires": [
            [
                "f13bb6ca2854b4f5"
            ],
            [
                "043a6057cc2dc05c"
            ],
            [
                "1908d9dd1b12ed61"
            ],
            [
                "043a6057cc2dc05c"
            ]
        ]
    },
    {
        "id": "f13bb6ca2854b4f5",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\n//msg.payload=flow.get(\"telegram\");\nmsg.payload.control_1=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 640,
        "wires": [
            [
                "b5ba34c13c2653c3",
                "fb5b0cef5b344e8e"
            ]
        ]
    },
    {
        "id": "1bc0e8263274544e",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "show inline keyboard",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1020,
        "y": 580,
        "wires": [
            [
                "c1ba88417c2b64d3"
            ]
        ]
    },
    {
        "id": "c1ba88417c2b64d3",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "save messageId",
        "func": "// We store the messageId to be able to edit this reply in the callback query. \ncontext.global.keyboard.messageId = msg.payload.sentMessageId;\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "59cf7ff36767d596",
        "type": "mqtt in",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/DHT22_conexion_establecida",
        "qos": "2",
        "datatype": "auto",
        "broker": "0b7398b85e15f9a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "62b50e4701864a7c"
            ]
        ]
    },
    {
        "id": "2b5b5eeb424ba020",
        "type": "mqtt in",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/Informacion",
        "qos": "2",
        "datatype": "auto",
        "broker": "1a64e86babfae540",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 20,
        "wires": [
            [
                "1498e135fb50c744"
            ]
        ]
    },
    {
        "id": "1498e135fb50c744",
        "type": "json",
        "z": "071a10a9257c87ba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 20,
        "wires": [
            [
                "a6057c931010dfab",
                "36514fbf96a0902a"
            ]
        ]
    },
    {
        "id": "a6057c931010dfab",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "Actualizar FLOWS",
        "func": "flow.set(\"PWM\",Math.round((flow.get(\"info.Ventilador.PWM\"))*100)/100);\nflow.set(\"info\",msg.payload);\nflow.set(\"temp_interior\",Math.round((flow.get(\"info.DHT22.temp_interior\"))*100)/100);\nflow.set(\"temp_exterior\",Math.round((flow.get(\"info.DS18B20.temp_exterior\"))*100)/100);\nflow.set(\"humedad\",Math.round((flow.get(\"info.DHT22.hum\"))*100)/100);\nvar dif=flow.get(\"temp_exterior\")-flow.get(\"temp_interior\");\nif(dif<0)\n{\n    flow.set(\"dif_temps\",Math.round((flow.get(\"temp_interior\")-flow.get(\"temp_exterior\"))*100)/100);\n}\nelse\n{\n    flow.set(\"dif_temps\",Math.round((flow.get(\"temp_exterior\")-flow.get(\"temp_interior\"))*100)/100);\n}\nflow.set(\"12voltios\",Math.round((flow.get(\"info.INA219.Tension_12V\"))*100)/100);\nflow.set(\"24voltios\",Math.round((flow.get(\"info.INA219.Tension_24V\"))*100)/100);\nflow.set(\"12voltios%\",Math.round(flow.get(\"12voltios\")/12*100*100)/100);\nflow.set(\"24voltios%\",Math.round(flow.get(\"24voltios\")/24*100*100)/100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "62b50e4701864a7c",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "if(flow.get(\"info.TCRT5000.Puerta\")==0)\n{\n    flow.set(\"puerta_menos_uno\",1);\n}\nif(flow.get(\"info.TCRT5000.Puerta\")==1)\n{\n    flow.set(\"puerta_menos_uno\",0);\n}\nflow.set(\"ventilador\", \"automatico\");\nflow.set(\"porcentaje_ventilador\",0);\nflow.set(\"baremos_temperatura\",2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b5ba34c13c2653c3",
        "type": "mqtt out",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/Control_reles",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b7398b85e15f9a4",
        "x": 860,
        "y": 640,
        "wires": []
    },
    {
        "id": "043a6057cc2dc05c",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.options={};\nmsg.payload.content=\"Gracias, estoy aquí para lo que necesites 😊\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 680,
        "wires": [
            [
                "63b26341956f83f3"
            ]
        ]
    },
    {
        "id": "a3586c5e64605e43",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "initial inline keyboard message",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content={};\ncontext.global.keyboard = { messageId : msg.payload.messageId };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Sí, me gustaria cambiarlo\",\n                    \"callback_data\": \"SI_VENTILADOR\"            \n                }, \n                {\n                    \"text\": \"No, gracias\",\n                    \"callback_data\": \"ATRAS_VENTILADOR\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content=\"Actualmente, el ventilador está funcionando en el modo \"+flow.get(\"ventilador\");\n\nif(flow.get(\"ventilador\")==\"automatico\")\n{\n    msg.payload.content+=\" con un baremo de \"+flow.get(\"baremos_temperatura\")+\"ºC.\\nLa señal PWM es de: \"+flow.get(\"PWM\")+\" sobre 255. \\n¿Quieres cambiar el modo de funcionamiento o el baremo?\";\n}\nif(flow.get(\"ventilador\")==\"manual\")\n{\n    msg.payload.content+=\" funcionando a una intensidad del \"+flow.get(\"porcentaje_ventilador\")+\"% (PWM: \"+flow.get(\"PWM\")+\" sobre 255). ¿Quieres cambiar el modo de funcionamiento o la intensidad del ventilador?\";\n}\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 540,
        "wires": [
            [
                "b39839853b86e819"
            ]
        ]
    },
    {
        "id": "b6bf8744c1b60d8d",
        "type": "telegram event",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "event": "callback_query",
        "autoanswer": true,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "40d2f947a8c86700"
            ]
        ]
    },
    {
        "id": "40d2f947a8c86700",
        "type": "switch",
        "z": "071a10a9257c87ba",
        "name": "check callback data",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "AUTOMATICO_VENTILADOR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MANUAL_VENTILADOR",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 900,
        "wires": [
            [
                "01dea55c08425f98"
            ],
            [
                "27d23fc850aa638f"
            ]
        ]
    },
    {
        "id": "1908d9dd1b12ed61",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "initial inline keyboard message",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content={};\ncontext.global.keyboard = { messageId : msg.payload.messageId };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Modo Automático\",\n                    \"callback_data\": \"AUTOMATICO_VENTILADOR\"            \n                }, \n                {\n                    \"text\": \"Modo Manual\",\n                    \"callback_data\": \"MANUAL_VENTILADOR\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content=\"¿Cómo quieres que trabaje el ventialdor?\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "042d46f91b9f8a2c"
            ]
        ]
    },
    {
        "id": "3649aff5bf04d157",
        "type": "mqtt out",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/Control_ventilador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b7398b85e15f9a4",
        "x": 1110,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b39839853b86e819",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "show inline keyboard",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1020,
        "y": 540,
        "wires": [
            [
                "d0a5aa8b3b8773d3"
            ]
        ]
    },
    {
        "id": "d0a5aa8b3b8773d3",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "save messageId",
        "func": "// We store the messageId to be able to edit this reply in the callback query. \ncontext.global.keyboard.messageId = msg.payload.sentMessageId;\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "042d46f91b9f8a2c",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "show inline keyboard",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 980,
        "y": 720,
        "wires": [
            [
                "2c8bc86b7c77707b"
            ]
        ]
    },
    {
        "id": "2c8bc86b7c77707b",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "save messageId",
        "func": "// We store the messageId to be able to edit this reply in the callback query. \ncontext.global.keyboard.messageId = msg.payload.sentMessageId;\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "59bde76366424064",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 950,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1db382cfc35f7428",
        "type": "mqtt in",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/Modo_Control_Ventilador",
        "qos": "2",
        "datatype": "auto",
        "broker": "0b7398b85e15f9a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 1440,
        "wires": [
            [
                "473e47fd52e15437"
            ]
        ]
    },
    {
        "id": "ef0eea0b82a0ac00",
        "type": "mqtt in",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/Reinicializacion_done",
        "qos": "2",
        "datatype": "auto",
        "broker": "0b7398b85e15f9a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 1480,
        "wires": [
            [
                "47a7133f7cb374e4"
            ]
        ]
    },
    {
        "id": "47a7133f7cb374e4",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.options={};\nmsg.payload.content=\"Placa reinicida correctamente\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1480,
        "wires": [
            [
                "f2d487e6d67d4234"
            ]
        ]
    },
    {
        "id": "473e47fd52e15437",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.options={};\nmsg.payload.content=\"Modo de trabajo actualizado con éxito\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1440,
        "wires": [
            [
                "f2d487e6d67d4234"
            ]
        ]
    },
    {
        "id": "f2d487e6d67d4234",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 630,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "63b26341956f83f3",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 850,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "27d23fc850aa638f",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "initial inline keyboard message",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content={};\nflow.set(\"ventilador\",\"manual\");\ncontext.global.keyboard = { messageId : msg.payload.messageId };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"0%\",\n                    \"callback_data\": \"cero\"            \n                }, \n                {\n                    \"text\": \"25%\",\n                    \"callback_data\": \"veinticinco\"            \n                }, \n                {\n                    \"text\": \"50%\",\n                    \"callback_data\": \"cincuenta\"            \n                }, \n                {\n                    \"text\": \"75%\",\n                    \"callback_data\": \"setenta_y_cinco\"            \n                }, \n                {\n                    \"text\": \"100%\",\n                    \"callback_data\": \"cien\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content=\"Ahora el ventilador trabajará en modo manual ¿Con qué intensidad quieres que trabaje el mismo?\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 920,
        "wires": [
            [
                "59bde76366424064"
            ]
        ]
    },
    {
        "id": "2f1d3bbd30d6b657",
        "type": "switch",
        "z": "071a10a9257c87ba",
        "name": "check callback data",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cero",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "veinticinco",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cincuenta",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setenta_y_cinco",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cien",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 370,
        "y": 1080,
        "wires": [
            [
                "79207dc8d1480fd5"
            ],
            [
                "19512a011bd0b636"
            ],
            [
                "57c2c52334a0352f"
            ],
            [
                "6d7aba65b3f59ed9"
            ],
            [
                "b3bc4a4c5f3e3e26"
            ]
        ]
    },
    {
        "id": "2407a2dff3d7f3e0",
        "type": "telegram event",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "event": "callback_query",
        "autoanswer": true,
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "2f1d3bbd30d6b657"
            ]
        ]
    },
    {
        "id": "a3957ae4f1cf0973",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.options={};\nmsg.payload.ventilador={};\nmsg.payload.ventilador=0;\nmsg.payload.porcentaje_ventilador=flow.get(\"porcentaje_ventilador\");\nmsg.payload.content=\"Perfecto, ventilador trabajando al \"+flow.get(\"porcentaje_ventilador\")+\"%\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1080,
        "wires": [
            [
                "ed64442cc5ce7c3f",
                "3649aff5bf04d157"
            ]
        ]
    },
    {
        "id": "79207dc8d1480fd5",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "porcentaje_ventilador",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1000,
        "wires": [
            [
                "a3957ae4f1cf0973"
            ]
        ]
    },
    {
        "id": "19512a011bd0b636",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "porcentaje_ventilador",
                "pt": "flow",
                "to": "25",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "a3957ae4f1cf0973"
            ]
        ]
    },
    {
        "id": "57c2c52334a0352f",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "porcentaje_ventilador",
                "pt": "flow",
                "to": "50",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1080,
        "wires": [
            [
                "a3957ae4f1cf0973"
            ]
        ]
    },
    {
        "id": "6d7aba65b3f59ed9",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "porcentaje_ventilador",
                "pt": "flow",
                "to": "75",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1120,
        "wires": [
            [
                "a3957ae4f1cf0973"
            ]
        ]
    },
    {
        "id": "b3bc4a4c5f3e3e26",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "porcentaje_ventilador",
                "pt": "flow",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1160,
        "wires": [
            [
                "a3957ae4f1cf0973"
            ]
        ]
    },
    {
        "id": "ed64442cc5ce7c3f",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "01dea55c08425f98",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "initial inline keyboard message",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.content={};\nflow.set(\"ventilador\",\"automatico\");\ncontext.global.keyboard = { messageId : msg.payload.messageId };\n\nvar opts = {\n  //reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"1ºC\",\n                    \"callback_data\": \"uno\"            \n                }, \n                {\n                    \"text\": \"2ºC\",\n                    \"callback_data\": \"dos\"            \n                }, \n                {\n                    \"text\": \"3ºC\",\n                    \"callback_data\": \"tres\"            \n                }, \n                {\n                    \"text\": \"4ºC\",\n                    \"callback_data\": \"cuatro\"            \n                }, \n                {\n                    \"text\": \"5ºC\",\n                    \"callback_data\": \"cinco\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload.content=\"Ahora el ventilador trabajará en modo automatico. Indique la diferencia térmica que quiere que marque la intensidad de funcionamiento máxima:\";\nmsg.payload.options = opts;\n\nreturn [ msg ];\n",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 880,
        "wires": [
            [
                "59bde76366424064"
            ]
        ]
    },
    {
        "id": "c54afc9c287d4cb6",
        "type": "mqtt out",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/Control_ventilador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b7398b85e15f9a4",
        "x": 1110,
        "y": 1240,
        "wires": []
    },
    {
        "id": "4363db4e6350e9cf",
        "type": "switch",
        "z": "071a10a9257c87ba",
        "name": "check callback data",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "uno",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dos",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tres",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cuatro",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cinco",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 370,
        "y": 1280,
        "wires": [
            [
                "1ac88ff7fdb0151a"
            ],
            [
                "608e8bf1253e7468"
            ],
            [
                "7ec6f9a8a41a9692"
            ],
            [
                "d3a26762c29f5098"
            ],
            [
                "2436831482df27b6"
            ]
        ]
    },
    {
        "id": "8c54ff99b577cbf2",
        "type": "telegram event",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "event": "callback_query",
        "autoanswer": true,
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "4363db4e6350e9cf"
            ]
        ]
    },
    {
        "id": "c099b2296d79d556",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "msg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.options={};\nmsg.payload.ventilador={};\nmsg.payload.ventilador=1;\nmsg.payload.baremos_temperatura=flow.get(\"baremos_temperatura\");\nmsg.payload.content=\"Perfecto, baremos establecido en \"+flow.get(\"baremos_temperatura\")+\"ºC\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1280,
        "wires": [
            [
                "b0a7e610f3463019",
                "c54afc9c287d4cb6"
            ]
        ]
    },
    {
        "id": "1ac88ff7fdb0151a",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "baremos_temperatura",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "c099b2296d79d556"
            ]
        ]
    },
    {
        "id": "608e8bf1253e7468",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "baremos_temperatura",
                "pt": "flow",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "c099b2296d79d556"
            ]
        ]
    },
    {
        "id": "7ec6f9a8a41a9692",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "baremos_temperatura",
                "pt": "flow",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1280,
        "wires": [
            [
                "c099b2296d79d556"
            ]
        ]
    },
    {
        "id": "d3a26762c29f5098",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "baremos_temperatura",
                "pt": "flow",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1320,
        "wires": [
            [
                "c099b2296d79d556"
            ]
        ]
    },
    {
        "id": "2436831482df27b6",
        "type": "change",
        "z": "071a10a9257c87ba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "baremos_temperatura",
                "pt": "flow",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1360,
        "wires": [
            [
                "c099b2296d79d556"
            ]
        ]
    },
    {
        "id": "b0a7e610f3463019",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "84d48ee771368834",
        "type": "mqtt in",
        "z": "071a10a9257c87ba",
        "name": "",
        "topic": "huerta/Informacion_puerta",
        "qos": "2",
        "datatype": "auto",
        "broker": "0b7398b85e15f9a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "11278e3b5fa8f151"
            ]
        ]
    },
    {
        "id": "11278e3b5fa8f151",
        "type": "json",
        "z": "071a10a9257c87ba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 60,
        "wires": [
            [
                "3dfd3f23079d9609"
            ]
        ]
    },
    {
        "id": "3dfd3f23079d9609",
        "type": "function",
        "z": "071a10a9257c87ba",
        "name": "",
        "func": "flow.set(\"info_puerta\",msg.payload)\nif(flow.get(\"info_puerta.Puerta.Movimiento\")==0)\n{\n    flow.set(\"puerta\",\"cerrada\");\n}\nelse\n{\n    flow.set(\"puerta\",\"abierta\");\n}\nmsg.payload={};\nmsg.payload=flow.get(\"telegram\");\nmsg.payload.options={};\nif(flow.get(\"info_puerta.Puerta.Movimiento\")==flow.get(\"puerta_menos_uno\"))\n{\n    if(flow.get(\"info_puerta.Puerta.Movimiento\")==0)\n    {\n        msg.payload.content=\"️¡⚠️⚠️Se acaba de cerrar la puerta de la cabina!\";\n        flow.set(\"puerta_menos_uno\",1);\n    }\n    if(flow.get(\"info_puerta.Puerta.Movimiento\")==1)\n    {\n        msg.payload.content=\"️¡⚠️⚠️Se acaba de abrir la puerta de la cabina!\";\n        flow.set(\"puerta_menos_uno\",0);\n    }\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 60,
        "wires": [
            [
                "6fa2ec4a7be799b2"
            ]
        ]
    },
    {
        "id": "6fa2ec4a7be799b2",
        "type": "telegram sender",
        "z": "071a10a9257c87ba",
        "name": "",
        "bot": "1f33bd2091f1c0f0",
        "haserroroutput": false,
        "outputs": 1,
        "x": 690,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fb5b0cef5b344e8e",
        "type": "debug",
        "z": "071a10a9257c87ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 640,
        "wires": []
    },
    {
        "id": "36514fbf96a0902a",
        "type": "debug",
        "z": "071a10a9257c87ba",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "1f33bd2091f1c0f0",
        "type": "telegram bot",
        "botname": "TFG_HortSost_Bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "0b7398b85e15f9a4",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1a64e86babfae540",
        "type": "mqtt-broker",
        "name": "Huerto",
        "broker": "huertociencias.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]